{% include 'user_header.html' %}
<style>
table {
	font-family: times new roman;
	border-collapse: collapse;
	width: 100%;
}
td, th{
	border: 1px solid #dddddd;
	text-align: center;
	padding: 8px;
	}
</style>


 <div class="container" style="margin:0 auto;">
 	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="padding-top: 100px;">
    <div class="card" >
        <h5 class="card-header">All Due's</h5>
      
        <div class="card-body">
            <div class="table-responsive ">
                <table class="table table-bordered">
                    <thead style="background: #ff407b;color: #FFF">
                        <tr class="white">
	                        <th>S.No</th>
                            <th>Student Id</th>
							<th>Student Name</th>
                            <th>Mobile</th>
                            <th>Due Type</th>
                            <th>Amount</th>
                            <th>Due Date</th>
                            <th>Msg</th>
                            <th>Due Status</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in row %}
                        <tr>
					        <td>{{forloop.counter}}</td>
							<td>{{i.student_id}}</td>
                            <td>{{i.student_name}}</td>
                            <td>{{i.student_name.phone_number}}</td>
                            <td>{{i.due_id}}</td>
                            <td>{{i.amount}}</td>
                            <td>{{i.due_date}}</td>
                            <td>{{i.msg}}</td>
                            <td>{% if i.due_status == 'Paid' %}
                                <span class="badge badge-success">Paid</span>
                            {% else %}
                            <span class="badge badge-danger">Not Paid</span>
                            {% endif %}
                            </td>
							<td>
                                {% if i.due_status == 'Paid' %}
                                <span class="badge badge-success">No Due Issue Hall Ticket</span>
                            {% else %}
                                 <span class="badge badge-danger">Pay the Due</span>
                            {% endif %}
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="8" class="text-center bg-primary">No Students</td>
                        </tr>
                       {% endfor %}
                    </tbody>
                   
                </table>
            </div>
        </div>
    </div>
</div>


